---
import { DaisyTheme } from 'astro-daisy-theme-toggle'
import MenuIcon from '../images/menu.svg'
import Links from './Links.astro'
import Sun from '../images/sun.svg'
import Moon from '../images/moon.svg'
---

<div class='drawer'>
  <input id='my-drawer-3' type='checkbox' class='drawer-toggle' />
  <div class='drawer-content flex flex-col'>
    <!-- Navbar -->
    <div class='navbar bg-base-300 fixed top-0 left-0 w-full md:z-10'>
      <div class='flex-none lg:hidden'>
        <label
          for='my-drawer-3'
          aria-label='open sidebar'
          class='btn btn-square btn-ghost'
        >
          <MenuIcon width={24} height={24} />
        </label>
      </div>
      <div class='mx-2 flex-1 px-2'>
        <DaisyTheme darkTheme='dim' lightTheme='bumblebee'>
          <label class='swap swap-rotate'>
            <!-- this hidden checkbox controls the state -->
            <input type='checkbox' class='theme-controller' value='synthwave' />

            <Sun class='swap-off' width={32} height={32} />

            <Moon class='swap-on' width={32} height={32} />
          </label>
        </DaisyTheme>

        <a class='ml-4' href='#home'>Ernest Fletcher, LCP</a>
      </div>
      <div class='hidden flex-none lg:block'>
        <ul class='menu menu-horizontal'>
          <!-- Navbar menu content here -->
          <Links />
        </ul>
      </div>
    </div>
    <slot />
  </div>
  <div class='drawer-side'>
    <label for='my-drawer-3' aria-label='close sidebar' class='drawer-overlay'
    ></label>
    <ul class='menu bg-base-200 min-h-full w-80 p-4'>
      <!-- Sidebar content here -->
      <Links />
    </ul>
  </div>
</div>
